@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 990px) {
	    .featured-item-link {
	  font-weight: 100;
	  font-size: 2em;
	}
	.center{
	   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
@media screen and (max-width: 500px) {
	    .featured-item-link {
	  font-weight: 100;
	  font-size: 1em;
	}
}

.myName{
	margin-bottom: 0px;
}
.imgmargin{
	margin-bottom: 10px;
}
.Featured{
	color: #bcbbbb;
}
.logo{
	width: 50px;
}
