body{
	color: #2d3c49;
}
.header_title {
	margin-right: 0px;
    margin: 0.75em 5.5em;
    display: inline-block;
    float: right;
}
/*.header_logo {
    height: 72px;
    margin-left: 10em;
    vertical-align: top;
    margin-top: 12px;
}
*/
/*.header_title span{
	display: block;
	font-family: Roboto;
    font-size: 14px;
    margin-left: 50%;
}
*/
/*.line{
	color: #7d97ad;
	border-width: 2px;
	border-style: solid;
    width:80%;
    position: fixed;
}
*/
.backGround {
    margin: 0.75em 12em;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
header, nav, footer, section, article, div {
    box-sizing: border-box;
}

@media screen and (max-width: 450px){
	.header_title {
    margin: 0.75em -13em;
    display: inline-block;
    float: right;
	}
	.header_title span {
    display: block;
    font-size: 22px;
    margin-left: 14%;
    font-family: sans-serif;
	}
	.header_logo {
	    height: 72px;
	    margin-top: 14px;
	}
	.line {
    color: #7d97ad;
    width: 98%;
    position: fixed;
	}
	.backGround{
	margin: 1.4em 1em;
    width: 219%;
	}
	.sites {
    width: 100%;
    background-size: cover;
    min-height: 233px;
	}
	.sites1{
		background-image: url(../img/site1.jpg);
		margin-left: 45%;
    	margin-top: 255%;
    	    position: absolute;
	}.sites2{
		background-image: url(../img/site2.jpg);
		margin-left: 45%;
    	margin-top: 150%;
    	    position: absolute;
	}.sites3{
		background-image: url(../img/site3.jpg);
		margin-top: 460%;
		margin-left: 45%;
	}.sites4{
		background-image: url(../img/site4.jpg);
		margin-top: 350%;
		margin-left: 45%;
		    position: absolute;
	}
	.caption{
		margin-top: 100%;
	    margin-left: 17%;
	    font-size: 40px;
	    font-weight: bold;
	}
	.featured-item-link{
	    margin-left: 8%;
	    font-size: 21px;
	    font-weight: bold;
	}
	.FTW{
     text-align: center;
    width: 185%;
    position: absolute;
    margin-top: 123%;
    font-size: 54px;
	}
}



@media screen and (min-width: 850px)
main, .header_inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}